<nav>
    <div class="left">
    <a href="/">Home</a>
    |
    <a href="/gigs">Gigs</a>

    <% if(user) { %>
    |
    <a href="/gigs/new">Create a Gig</a>
    <% } %>

    </div><div class="right">
    <% if(user) { %>
        Welcome, <%= user.email %> |
        <a href="/profile">My Profile</a> |
        <a href="/auth/sign-out">Sign Out</a>

    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        |
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
    </div>
    
</nav>
