<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<h1>Welcome to The Gig Finder</h1>

<img src="/img/collage.jpg" alt="collage of people partying or at a concert" class="home-img">

<%- include('./partials/footer') %>
