<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

    <h2>Create a Gig</h2>

    <form action="/gigs" method="post">
        <label for="nameInput">Name:</label>
        <input type="text" name="name" id="nameInput" required>
    
        <br>
    
        <label for="dateInput">Date:</label>
        <input type="text" name="date" id="dateInput" required>
    
        <br>
    
        <label for="typeInput">Type:</label>
        <input type="text" name="type" id="typeInput">

        <br>

        <label for="priceInput">Price:</label>
        <input type="number" name="price" id="priceInput" min="0">

        <br>

        <label for="descriptionInput">Description:</label>
        <textarea name="description" id="descriptionInput" required></textarea>

        <br>

        <button>Create</button>

    </form>

<%- include('../partials/footer') %>