<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

    <h1 class="create-title">Create a Gig</h1>

    <form action="/gigs" method="post">
        <label for="nameInput"><b>Name:</b></label>
        <input type="text" name="name" id="nameInput" required>
    
        <br><br>
    
        <label for="dateInput"><b>Date:</b></label>
        <input type="text" name="date" id="dateInput" required>
    
        <br><br>
    
        <label for="typeInput"><b>Type:</b></label>
        <input type="text" name="type" id="typeInput">

        <br><br>

        <label for="priceInput"><b>Price:</b></label>
        <input type="number" name="price" id="priceInput" min="0">

        <br><br>

        <label for="descriptionInput"><b>Description:</b></label>
        <textarea name="description" id="descriptionInput" required></textarea>

        <br><br>

        <button id="create">Create</button>

    </form>

<%- include('../partials/footer') %>